*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
h2{
    position: relative;
    font-size:20em ;
    
    Letter-spacing: 15px;
    color:#0e3742;
    
    width: 100%;
    text-align: center;
    --webkit-box-reflect:below 5px linear-gradient(transparent,#000400);
    line-height: 0.70em;
    outline: none;
    animation:animate 5s linear infinite;
}
@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    
    {
        color: #0e3742;
        text-shadow: none;
    }    
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;

    }
}
.Center {
    
    
   
    margin: auto;
    padding: 2%;
    position: absolute;
    top:75;
    left: 0;
    bottom: 0;
    right: 0;
    height: 58;
}
  
  .btn-bot {
    position: relative;
    background-color:#0e3742 ;
    border: none;
    display: inline-block;
    padding:  15px 30px;
    text-transform: capitalize;
    color: #03bcf4;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow:hidden;
    transition: .1s;
    border-radius: 2rem;
  }
  
  .btn-bot:hover{
      color:white;
      background:  deepskyblue;
      box-shadow: 0 0 10px  deepskyblue,
      0 0 40px  deepskyblue,
      0 0 80px  deepskyblue ;
      transition-delay:0s ;
  }
 